body ul li{
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none
}

#slidebox {
    margin: 0 auto;
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    color: white;
}

li {
    position: absolute;
    width: 800px;
    height: 400px;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 가로·세로 비율은 유지한 채로 주어진 영역에 여백이 없도록 맞춤 */
    position: absolute;
}
